# Rust
/target
Cargo.lock   # remove this line if building a binary (keep lock for binaries)

# Environment
.env
.env.*

# Editor/IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Torso
torso.yaml
